// WHITE & GRAY
$white: #f7f7f7;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #333;

// THEME COLORS
$org: #ef9b00;
$grn: #80b484;

$primary: $org;
$primary_tint: #fdf5e6;
$primary_shade--1: #e09200;
$secondary: $grn;
$secondary_tint: #e6f0e8;
$secondary_shade--1: #72ac76;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// MERGE THEME COLORS
$custom-theme-colors: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "primary-hover": $primary_shade--1,
  "secondary-hover": $secondary_shade--1,
  "primary-tint": $primary_tint,
  "secondary-tint": $secondary_tint,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// SPACING SYSTEM
$spacers: (
  0: 0,
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
  64: 4rem,
  72: 4.5rem,
  80: 5rem,
  88: 5.5rem,
  96: 6rem,
  100: 6.25rem,
);

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
