@use "../custom" as *;

* {
  padding: 0px;
  margin: 0px;
}

@include media-breakpoint-down(md) {
  .message_content--input {
    flex-direction: column;
  }
}

label {
  color: map-get($theme-colors, "gray-700") !important;
}

.w-100 {
  width: 100%;
}

.ls-none {
  list-style: none;
}

.td-none {
  text-decoration: none;
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: 90%;
  }
}
@include media-breakpoint-down(lg) {
  .container {
    max-width: 90%;
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 90%;
  }
}
@include media-breakpoint-down(sm) {
  .container {
    max-width: 90%;
  }
}
