@use "../custom" as *;

// BUTTON PRIMARY
.btn-1 {
  text-wrap: nowrap;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  flex-grow: 1;
  background-color: $primary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}
.btn-1:hover,
.btn-1-link:hover {
  color: $white;
  background-color: map-get($theme-colors, "primary-hover");
}

.btn-1-link {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: $primary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}

// BUTTON PRIMARY
.btn-2 {
  color: $white;
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: 600;
  border: none;
  flex-grow: 1;
  background-color: $secondary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}
.btn-2:hover,
.btn-2-link:hover {
  color: $white;
  background-color: map-get($theme-colors, "secondary-hover");
}

.btn-2-link {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  flex-grow: 1;
  background-color: $primary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}

// BUTTON TERTIARY
.btn-3 {
  color: $primary;
  font-size: 18px;

  font-weight: 500;
  background-color: unset;
  border: 2px solid $primary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}
.btn-3:hover,
.btn-link-3:hover {
  color: map-get($theme-colors, "primary-hover");
  border-color: map-get($theme-colors, "primary-hover");
}

.btn-3-link {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: $primary;
  font-size: 18px;
  flex-grow: 1;
  font-weight: 500;
  background-color: unset;
  border: 2px solid $primary;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 4px;
  transition: all 0.2s ease !important;
}
